body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: changeBackgroundImage 80s infinite;
}
  
@keyframes changeBackgroundImage{
    0%{
    background-image: url('../imagens/1.jpg');
    }
    7%{
    background-image: url('../imagens/2.jpg');
    }
    14%{
    background-image: url('../imagens/3.jpg');
    }
    21%{
    background-image: url('../imagens/4.jpg');
    }
    28%{
    background-image: url('../imagens/5.jpg');
    }
    35%{
    background-image: url('../imagens/6.jpeg');
    }
    42%{
    background-image: url('../imagens/7.jpg');
    }
    49%{
    background-image: url('../imagens/8.jpg');
    }
    56%{
    background-image: url('../imagens/9.jpg');
    }
    63%{
    background-image: url('../imagens/10.jpg');
    }
    70%{
    background-image: url('../imagens/11.jpeg');
    }
    77%{
    background-image: url('../imagens/12.jpg');
    }
    84%{
    background-image: url('../imagens/13.jpg');
    }
    91%{
    background-image: url('../imagens/14.jpg');
    }
    100%{
    background-image: url('../imagens/15.jpg');
    }
}

.content{
    width: 50%;  
    padding: 3% 3% 3% 3%;
    background-color: #f7f7f7;
    margin: auto;
    position: relative;
    border-radius: 50px;
    border: 1px solid rgba(147, 184, 189,0.8);
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; 
}

.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif; 
}

.card1{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color:#e6f2ff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.856);
    border-radius: 30px;  
    padding: 15px 6% 60px 6%;
    margin-right: 6%;
}

.card2{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color:#e6f2ff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.856);
    border-radius: 30px;  
    padding: 15px 6% 60px 6%;
    margin-left: 6%;
}

.card3{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color:#e6f2ff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.856);
    border-radius: 30px;  
    padding: 15px 6% 60px 6%;
    width: 100%;
    margin-left: 42%;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
  
.card-title {
    margin-bottom: 0.75rem;
  }

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    border-radius: 30px;
    height: 15rem; 
  }

h1{
    font-size: 50px;
    color: #066a75;
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
}

h1:after{
    content: ' ';
    display: block;
    margin-top: 1.5rem;
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 40%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 50%,rgba(147,184,189,0) 90%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 40%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    }

h2{
    font-size: 25px;
    color: #066a75;
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
}

a{
    text-decoration: none;
    }
    
a.links{
    display: none;
    }

@media only screen and (min-width: 280px) and (max-width: 653px){
    .content{
        width: 77%;
      }    
    .col-sm-6{
        padding: 15px 23%;
    }
    .card1{
        padding: 1px 1% 60px 1%;
    }
    .card2{
        padding: 1px 1% 60px 1%;
    }
    .card3{
        padding: 1px 1% 60px 1%;
    }
}

@media only screen and (min-width: 280px) and (max-width: 823px){
    .card1, .card2, .card3{
        margin: auto;
    }
}
