:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
     background: var(--preta);
     font-family: 'Arial', Times, serif;
     color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
}

header .logo{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 25px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff ;
}

/* filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)100%), url('../img/capa.jpg');

    height: 550px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 90px;

}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    border-radius: 5px; 
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: 0.5s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container {
    margin-left: 20px;
    margin-right: 10px;
}

.filme-principal .container {
   width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 5px;
}

.menu1{
    margin-left: 30px;
    justify-content: initial;
}   

.menu2{
    margin-left: 50%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--preta);
    justify-content: left;
}

.botao_menu{
    background: var(--preta);
    border: none;
    color: white;
    padding: 0px 10px;
    
}
.carrosel-filmes{
    margin-top: 2px;
}