/* remove a linha dos links */
a{
    text-decoration: none;
  }
   
  /* esconde as ancoras da tela */
  a.links{
    display: none;
  }

body{
 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: changeBackgroundImage 80s infinite;
}

/* criando o efeito de slide nas imagens do body */
@keyframes changeBackgroundImage {
  0% {
    background-image: url('imagens/1.jpg');
  }
  7% {
    background-image: url('imagens/2.jpg');
  }
  14% {
    background-image: url('imagens/3.jpg');
  }
  21% {
    background-image: url('imagens/4.jpg');
  }
  28% {
    background-image: url('imagens/5.jpg');
  }
  35% {
    background-image: url('imagens/6.jpeg');
  }
  42% {
    background-image: url('imagens/7.jpg');
  }
  49% {
    background-image: url('imagens/8.jpg');
  }
  56% {
    background-image: url('imagens/9.jpg');
  }
  63% {
    background-image: url('imagens/10.jpg');
  }
  70% {
    background-image: url('imagens/11.jpeg');
  }
  77% {
    background-image: url('imagens/12.jpg');
  }
  84% {
    background-image: url('imagens/13.jpg');
  }
  91% {
    background-image: url('imagens/14.jpg');
  }
  100% {
    background-image: url('imagens/15.jpg');
  }
}


.caixa{
  width: 30%;  
  padding: 1% 1% 3% 3%;
  background-color: #f7f7f7;
  margin:auto;
  border-radius: 50px;
  position: relative;
  border: 1px solid rgba(147, 184, 189,0.8);
  
  
  
}
/*rodapé da caixa*/
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #e1eaeb;
  color: #7f7c7c;
  text-align: right;
  border-radius: 0 0 50px 50px;

}
/*Botão sair*/
button{
  border: 1px solid #cbd518;
  border-radius: 10px;
  background: #f7f8f1;
  color: rgb(29, 162, 193);
  font-size: 20px;
  margin-right: 15px;
  
  
}

button:hover{
  color: #39bfd7;
  background: #f7f7f7;
  border: 1px solid #4ab3c6;
  
}


/*Botão enviar*/

.enviar{
  width: 20%!important;
  cursor: pointer;  
  background: rgb(61, 157, 179);
  padding: 1% 2%;
  color: #fff;
  font-size: 140%;  
  border: 1px solid #fff;   
  text-shadow: 0 1px 1px #333;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 100%;
  margin-bottom: 30px;
}

p,label{
    color: #405c60;
    position: relative;
    margin-bottom:3%;
    font-family: Arial, Helvetica, sans-serif;

}

.texto{
  margin-bottom: 1%;
}


/* bloco de comentario (texto)*/
textarea{
    text-align: justify;
    padding: 5px;
    width: 25vw;
    height: 20vh;
    border-radius: 10px 10px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
  }

  /*H1*/
  .cap1{
    font-size: 2.5rem;
    color: #066a75;
    font-family: Arial,sans-serif;
    padding-bottom: 1%;
    padding-left: 25%;
    
  }
  /*degradê do H1*/
  .cap{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
 
  background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 50%,rgba(147,184,189,0) 90%); 
  background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}


/*Media Querie resolução  280 até 1024*/
  
@media only screen and (min-width: 280px) and (max-width: 1024px){
   

    .caixa{
      width: 300px;
      height: 400px;
      font-size: 15px;
      

    }

    .cap1{
      height: 6%;
      font-size: 30px;

    }

    .cap{
      width: 100%;
    }

    textarea{
      width: 280px;
      height: 100px;

    }

    .enviar{
      border-radius: 5px;
      padding: 2%;
      font-size: 15px;
      
    }

    button{
      font-size: 17px;
    }
   
    
}
/*Media Querie resolução  1025 até 1919*/

@media only screen and (min-width: 1025px) and (max-width: 1919px){

  .enviar{
    
    border-radius: 5px;  
  }
 
  
}
/*Ajustes no rodapé da caixa, no H1 e no botão enviar*/

@media only screen and (min-width: 1025px) and (max-width: 1500px){
  .cap1{
    padding-left: 20%;
    font-size: 40px;
  }

  .enviar{
    
    border-radius: 5px;  
  }
  
  .rodape{
    font-size: 15px;
  }

}

/*Ajustes na area de comentario, caixa, rodape e botão enviar*/

@media only screen and (min-width:280px) and (max-width:320px){
  textarea{
    width: 215px;
    height: 100px;

  }

  .caixa{
    margin: 10px;
    width: 90%;
  }
 
 
  .enviar{
    font-size: 11px;

  }
}



